* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 240, 240);
}

input {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 5px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    padding: 5px;
    cursor: pointer;
}

img {
    cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.page { 
    background-image: url(/emixed_975cad33d6c911f0b6e2aae71fe8e288_438633371_generation_0.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}