* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

body {
    background-color: rgb(240, 240, 240);
}

input {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 5px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    padding: 5px;
    cursor: pointer;
}

img {
    cursor: pointer;
}